$color: red;

// 左侧菜单的背景颜色
$base-menu-background: #001529;

// 左侧logo高度
$base-menu-logo-height: 50px;

// 左侧logo文字大小
$base-logo-title-fontSize: 20px;

// 左侧的菜单宽度
$base-menu-width: 200px;

// 顶部导航高度
$base-tabbar-height: 50px;

// 顶部导航背景
$base-tabbar-background: cyan;

// 内容区背景颜色
$base-main-background: yellowgreen;